<!-- <p>App-lf-works</p> -->

  <!-- <mat-grid-tile colspan=6 rowspan=1>
        <div class="Serial">Issuing Authority</div>
  </mat-grid-tile>

  <mat-grid-tile colspan=6 rowspan=1>
      <form class="RefLtr">
          <mat-form-field style="width:350px">
            <input matInput>
          </mat-form-field>
      </form>
  </mat-grid-tile>   -->
    
  <!-- <form class="RefLtr">
      <mat-form-field style="width:350px">
        <input matInput>
      </mat-form-field>
  </form> -->

  <mat-grid-list cols=12 rowHeight="70px">
    <mat-grid-tile colspan=4 rowspan=1 > </mat-grid-tile>
    <mat-grid-tile colspan=2 rowspan=1 >
          <div class="L-IssuAuth">Issuing Authority</div>
    </mat-grid-tile>
    
    <mat-grid-tile colspan=4 rowspan=1>
          <form class="RefLtr">
              <mat-form-field style="width:350px">
                <input matInput>
              </mat-form-field>
          </form> 
    </mat-grid-tile>

    <mat-grid-tile colspan=2 rowspan=1 > </mat-grid-tile>
  </mat-grid-list>
