/* .Serial {
    margin : 40px;
    color :rgb(121, 134, 153);
    font-family : calibri;
    font-size : 17px;  
    padding-left: 70%;
  } */
/* .RefLtr {
    padding-right:100%;
  } */

  .RefLtr {
    padding-right: 40%;
  }  