/* mat-grid-tile {
    background: rgb(207, 207, 115);
  }
.Series {
  margin : 40px;
  color :rgb(121, 134, 153);
  font-family : calibri;
  font-size : 17px;  
}
.Serial {
  margin : 40px;
  color :rgb(121, 134, 153);
  font-family : calibri;
  font-size : 17px;  
  padding-left: 70%;
}
.SrlInput{
  padding-right: 65%;
}
.AppClass {
  padding-right: 40%;
}
.DtpassClass {
  padding-left: 5px; 
  padding-right: 5px; 
}
.RefLtr {
  padding-right: 40%;
}
.Final {
  margin : 10px;
} */